# Week 4 Peer Review

Week 4 Peer Review - Working with Distributions and DataFrames. To help you with this task, comments are added to each cell.

In [34]:
# Import the required packages
using Distributions, DataFrames, Random

In [35]:
# Seed the random number generator
Random.seed!(1234);

In [36]:
# Question 4: Create the 3 x 30 array named array_1
#array_1 =

In [37]:
# Question 5: Mean and variance of column 1

In [38]:
# Question 5 (continued): Mean and variance of column 2

In [39]:
# Question 5 (continued): Mean and variance of column 3

In [40]:
# Question 6: Import array_1 into a DataFrame named df
# df =

In [41]:
# Question 7: Change the names of the columns to Var1, Var2, and Var3

In [42]:
# Question 8: Create and new DataFrame named df2 from the last 20 rows of df

In [43]:
# Question 9: Calculate simple descriptive statistics of all the columns in df2 using the describe() function

In [44]:
# Question 10: Add a column to df2 named Cat1 to df2 consisting of randomly selecting either the strings GroupA or GroupB

In [45]:
# Question 11: Create a new DataFrame named df3

In [46]:
# Question 12: Change indicated values to empty entries

In [47]:
# Question 13: Create DataFrame df4 that contains no rows with NaN (NA) values